body{
    background-color: antiquewhite;
    }
#header{
    background: aqua;
    height: 30%;
    width: 100%;
    
}
#title{
    height: 40%;
    width: 100%;
    float: right;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    background-color: aqua;
    font-weight: bold;
    
}

#logo{
    height: 100%;
    width: 40%;
}
#menu ul li{
    padding: 15px;
    list-style: none;
    float: left;
    overflow: hidden;
}
#clear{
    clear: both;
}
#body{
    height: 70%;
    width: 100%;
    background: pink;
        
}
